* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* temporary styles */

* {
    padding: 0.5rem;
   border: 2px solid rgb(103, 36, 36);
}

body {
    border: none;
}

html{
    border: none;
}