/* 
    Colors: 
    Yellow: #FFBE00;
    Navy: #192B37;
*/

/* CSS RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*---------------------------- Universal styles & utility classes  --------------------------------- */


/* Padding Utility Classes --------------------  */
.padded-sm {
    padding: 2.5%;
}

.padded {
    padding: 5%;
}

.padded-lg {
    padding: 10%;
}

.padded-05 {
    padding: 0.5rem;
}

.padded-1 {
    padding: 1rem;
}

.padded-2 {
    padding: 2rem;
}

.padded-t {
    padding-top: 5%;
}

.padded-b {
    padding-bottom: 5%;
}

.padded-l {
    padding-left: 5%;
}

.padded-r {
    padding-bottom: 5%;
}

.padded-tb {
    padding-top: 5%;
    padding-bottom: 5%;
}

.padded-lr {
    padding-left: 5%;
    padding-right: 5%;
}

.padded-t-1 {
    padding-top: 1rem;
}

.padded-b-1 {
    padding-bottom: 1rem;
}

.padded-l-1 {
    padding-left: 1rem;
}

.padded-r-1 {
    padding-bottom: 1rem;
}

.padded-t-2 {
    padding-top: 2rem;
}

.padded-b-2 {
    padding-bottom: 2rem;
}

.padded-l-2 {
    padding-left: 2rem;
}

.padded-r-2 {
    padding-bottom: 2rem;
}

.padded-t-0 {
    padding-top: 0;
}

.padded-b-0 {
    padding-bottom: 0;
}

.padded-l-0 {
    padding-left: 0;
}

.padded-r-0 {
    padding-bottom: 0;
}

/* Margin Utility Classes --------------------  */

.margin-t {
    margin-top: 5%;
}

.margin-b {
    margin-bottom: 5%;
}

.margin-l {
    margin-left: 5%;
}

.margin-r {
    margin-right: 5%;
}

.margin-t-1 {
    margin-top: 1rem;
}

.margin-b-1 {
    margin-bottom: 1rem;
}

.margin-l-1 {
    margin-left: 1rem;
}

.margin-r-1 {
    margin-right: 1rem;
}

.margin-t-2 {
    margin-top: 2rem;
}

.margin-b-2 {
    margin-bottom: 2rem;
}

.margin-l-2 {
    margin-left: 2rem;
}

.margin-r-2 {
    margin-right: 2rem;
}

.margin-t-0 {
    margin-top: 0;
}

.margin-b-0 {
    margin-bottom: 0;
}

.margin-l-0 {
    margin-left: 0;
}

.margin-r-0 {
    margin-right: 0;
}

.margin-tb {
    margin-top: 5%;
    margin-bottom: 5%;
}

.margin-lr {
    margin-left: 5%;
    margin-right: 5%;
}

/* Minimum Height -------------------- */

.tall-50 {
    min-height: 50vh;
}

.tall-60 {
    min-height: 60vh;
}

.tall-70 {
    min-height: 70vh;
}

.tall-80 {
    min-height: 80vh;
}

.tall-90 {
    min-height: 90vh;
}

.tall-100 {
    min-height: 100vh;
}

/* Backgrounds & Images  -------------------- */

.bg-dark {
    background-color: #192B37;
    color: white;
}

.bg-featured {
    background-color: #F4B525;
}

.bg-light {
    background-color: #E3ECF2;
}

/* Image Styles */
.bg-image {
    background-image: url('/images/the-sleep-co-original1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(240, 240, 240);
    background-position: center;
}

/* Aspect Ratio  */
.portrait-tall {
    padding-bottom: 175%;
}

.portrait {
    padding-bottom: 125%;
}

.square {
    padding-bottom: 100%;
}

.landscape {
    padding-bottom: 66%;
}

.landscape-wide {
    padding-bottom: 56%;
}


/* Background Position */
.bg-pos-t {
    background-position: top;
}

.bg-pos-b {
    background-position: bottom;
}

.bg-pos-l {
    background-position: left;
}

.bg-pos-r {
    background-position: right;
}



/*  Typography Styles  --------------------  */

body {
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    line-height: 1.1;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}


p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    color: #FFBE00;
}

.font-weight-light {
    font-weight: 200;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-extra-bold {
    font-weight: 800;
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.featured-text {
    color: #FFBE00;
}

.white-text {
    color: white;
}

.text-small {
    font-size: 1.5rem;
}

.text-medium {
    font-size: 2rem;
}

.text-big {
    font-size: 4.5rem;
}

.subtitle {
    font-size: 1.2rem;
    color: rgb(120, 120, 125);
}

/*  Header & Footer styles --------------------  */

header {
    background-image: url('/images/the-sleep-co-original1.jpg');
    background-size: cover;
    background-position: center;
    padding: 2% 5%;
}

header h3 {
    font-size: 5.5rem;
    line-height: 1;
}

footer a {
    border: none;
}

/* Testimonial Block -------------------- */

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color: rgb(120, 120, 125);
    line-height: 1;
}

/*  Font Awesome Icons --------------------  */
.fas {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

/*  Background Images --------------------  */

.bg-bed {
    background-image: url('/images/the-sleep-co-original3.jpg')
}

.bg-pug {
    background-image: url('/images/the-sleep-co-original4.jpg');
    background-position: 50% 35%;
}

.bg-pillow {
    background-image: url('/images/the-sleep-co-original2.jpg');
    background-position: 50% 57%;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}



/** global classes styling **/

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}



.product-header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

.logo {
    width: 60vw;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

.logo>img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 650px) {
    .logo>img {
        margin: 0 auto;
    }
}

nav {
    font-weight: 400;
}

@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    nav li {
        padding-bottom: 5px;
    }
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 650px) {
    nav>ul {
        flex-direction: column;
    }
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#hero>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

#hero input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
}

@media (max-width: 650px) {
    #hero {
        margin-top: 120px;
    }
}

#features {
    margin-top: 30px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}

@media (max-width: 550px) {
    #features .icon {
        display: none;
    }
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #features .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

@media (max-width: 650px) {
    #features {
        margin-top: 0;
    }
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works>iframe {
    max-width: 560px;
    width: 100%;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product>.level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product>h2 {
    margin-top: 15px;
}

.product>ol {
    margin: 15px 0;
}

.product>ol>li {
    padding: 5px 0;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

.product>button:hover {
    background-color: orange;
    transition: background-color 1s;
}

@media (max-width: 800px) {
    #pricing {
        flex-direction: column;
    }

    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer>ul {
    display: flex;
    justify-content: flex-end;
}

footer>ul>li {
    padding: 0 10px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}